@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northwind LINQ SQL</h1>
    <p class="lead">This website will allow you to view the results of the first few querys from the Northwind SQL Questions... Have Fun! (",)</p>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>