
@{
    ViewBag.Title = "one_five";
}
<style>
    th{
        background-color:#3f3f42;
        color:#e7e9ed;
    }
    td,th{
        padding:2vmin;
    }
</style>

<h2>Question 1.5</h2>
<p>List all UK Employees</p>
<table>
    <thead>
        <tr>
            <th>Employee Full Title</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @{int counter = 0;}

        @foreach ((string Fullname, string City) employee in ViewBag.Q5)
        {
            var color = counter % 2 == 0?  "style=background-color:#bbb" : "style=background-color:#eee";
            <tr @color  >
                <td>@employee.Fullname</td>
                <td>@employee.City</td>
            </tr>
            counter++;
        }
    </tbody>
</table>
