
@{
    ViewBag.Title = "one_seven";
}
<style>
    th{
        background-color:#3f3f42;
        color:#e7e9ed;
    }
    td,th{
        padding:2vmin;
    }
</style>

<h2>Question 1.7</h2>
<p>Orders with a freight amount above $100 and shipped from the UK or USA</p>

<h1>Orders found: @ViewBag.Q7</h1>
